@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi-Light';
  src: url('/WEB/fonts/Satoshi-Light.woff2') format('woff2'),
       url('/WEB/fonts/Satoshi-Light.woff') format('woff'),
       url('/WEB/fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  padding:0;
  font-family: 'Satoshi-Light', sans-serif;
  background-color: transparent;
 
  /* position:relative */
}

canvas {
  display: block; /* Removes inline padding and margin */
  top: 0;
  left: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/*  */

.footer-section {
  background: linear-gradient(180deg, rgba(34,34,36,1) 63%, rgba(19,36,24,1) 99%);
}

.custom-cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  background: url('/reveillerstudios/public/rvrlogo-web.png');
  background-size: contain;
}

.center-image { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%; /* Ensure image doesn't exceed container width */
  max-height: 100%; /* Ensure image doesn't exceed container height */
  width: auto;
  height: auto;

}

.shopImage {
  background-color: antiquewhite;
  width: 20rem;
  height: 25rem;
  padding: 2rem;
  display: flex;

  border-radius: 0.5rem;
  aspect-ratio: 1/1;
}

@keyframes underlineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

