/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Cursor/Cursor.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.custom-cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  height: 30rem;
  pointer-events: none;
  cursor: pointer;;
  background-image: url('/images/reveillerstudioslogo2.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center center;

}
